// a {
//   color: $text-cl;
//   text-decoration: none;
//   display: block;
// }
// img {
//   display: block;
//   margin: auto;
//   max-width: 100%;
// }
// strong {
//   font-weight: bold;
//   font-family: bb;
// }

// .flex-mid {
//   @include midflex;
// }
// .flex-around {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;
// }
// .flex-stretch {
//   display: flex;
//   align-items: stretch;
//   justify-content: space-around;
// }
// .modal {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   img {
//     height: 100%;
//     width: 100%;
//   }
// }
// .error {
//   color: red;
//   font-size: 12px;
//   display: block;
//   text-align: center;
// }
// .er-phone {
//   color: red;
//   font-size: 16px;
//   text-align: center;
//   display: block;
// }
// .er-phone1,
// .er-phone2 {
//   display: none;
// }

// #snackbar {
//   font-family: 'Montserrat', sans-serif;
//   visibility: hidden;
//   min-width: 200px;
//   background-color: $green-cl;
//   color: #fff;
//   text-align: center;
//   border-radius: 2px;
//   padding: 16px;
//   position: fixed;
//   z-index: 1;
//   right: 30px;
//   top: 30px;
//   font-size: 17px;
//   @include mobile {
//     min-height: unset;
//     font-size: 12px;
//     max-width: unset;
//     padding: 4px;
//   }
// }

// #snackbar.show {
//   visibility: visible;
//   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
//   animation: fadein 0.5s, fadeout 0.5s 2.5s;
// }

// @-webkit-keyframes fadein {
//   from {
//     right: 0;
//     opacity: 0;
//   }
//   to {
//     right: 30px;
//     opacity: 1;
//   }
// }

// @keyframes fadein {
//   from {
//     right: 0;
//     opacity: 0;
//   }
//   to {
//     right: 30px;
//     opacity: 1;
//   }
// }

// @-webkit-keyframes fadeout {
//   from {
//     right: 30px;
//     opacity: 1;
//   }
//   to {
//     right: 0;
//     opacity: 0;
//   }
// }

// @keyframes fadeout {
//   from {
//     right: 30px;
//     opacity: 1;
//   }
//   to {
//     right: 0;
//     opacity: 0;
//   }
// }
body {
  background-color: $black-cl;
}
.white-bg {
  background-color: white;
}
.showErr {
  margin-top: 2px;
  color: red;
  text-align: center;
}
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    margin-right: 0.5rem;
    margin-top: 0;
    border-radius: 50%;
  }
}
#snackbar {
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
  min-width: 200px;
  background-color: $green-cl;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 11;
  right: 30px;
  top: 30px;
  font-size: 17px;
  @include mobile {
    min-height: unset;
    font-size: 12px;
    max-width: unset;
    padding: 4px;
  }
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 30px;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
