@font-face {
  src: url(../../font/ToyotaType-Black.ttf);
  font-family: ToyoTaTypeBlack;
}
@font-face {
  src: url(../../font/ToyotaType-Bold.ttf);
  font-family: ToyoTaTypeBold;
}
@font-face {
  src: url(../../font/ToyotaType-Light.ttf);
  font-family: ToyoTaTypeLight;
}
@font-face {
  src: url(../../font/ToyotaType-Regular.ttf);
  font-family: ToyoTaTypeRegular;
}
@font-face {
  src: url(../../font/ToyotaType-Semibold.ttf);
  font-family: ToyoTaTypeSemibold;
}
