.form-register {
  /* background: url(banner.png) 0 0 / cover no-repeat; */
  background-size: 100% 100%;
  max-width: 300px;
  background-color: #000;
  border-radius: 2px;
  .form-content {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $white-cl;
    width: 100%;
    /* max-width: 230px; */
    margin: auto;
    padding: 15px 20px 0px 20px;
    h3 {
      word-spacing: 4px;
      letter-spacing: 4px;
      font-weight: 700;
    }
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white-cl;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $white-cl;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $white-cl;
  }
}
.form-register .form-wrap .note {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $white-cl;
  font-size: 8px;
  line-height: 15px;
  color: #969696;
  text-align: center;
  padding: 0px 10px;
}
.form-register .form-wrap .form-content .form-group .form-control {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  font-family: 'SFU Eurostile Condensed', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background: #595959;
  border: 1px solid #fff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: auto;
  padding: 0.5rem;
  margin: 0;
}
.form-control {
  display: block;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'SFU Eurostile Condensed', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.row-btn {
  padding: 6px 0 10px;
  display: flex;
  align-items: center;
  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid rgba(0, 0, 0, 1);
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    padding: 0;
    background-color: transparent;
    display: none;
    margin: 0 auto;
  }
  .button-web {
    margin: 0 auto;
  }
}
.button-web {
  position: relative;
  display: inline-block;
  width: 60%;
  align-items: center;
  justify-content: center;
  font-family: 'SFU Eurostile Demi', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  height: 44px;
  background-color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  cursor: pointer;
  white-space: nowrap;
}
.button-web span {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 38px;
  color: black;
  background-color: white;
  font-weight: 700;
  text-align: center;
}
