/* Core variables and mixins*/
@import '../core/variables.scss';
@import '../core/reset';
@import '../core/mixins';
@import '../core/elements';
@import '../core/libs';
@import '../core/loading';

/* Navigation, header, footer*/

@import '../core/header';
@import '../core/nav';
@import '../core/footer';

.homepage {
  .banner {
    position: relative;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner__img {
    width: 100%;
    height: 100%;
  }
}
